.btn {
    border-width: 2px;
}

img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
    border-radius: 2rem !important;
}

.video-wrapper {
    overflow: hidden;
}

body {
    background-color: #feecec;
}

body {
    font-family: Brygada 1918;
}

.display-1 {
    font-family: 'Brygada 1918', sans-serif;
    font-size: 4rem;
    line-height: 1;
}

.display-1>.mbr-iconfont {
    font-size: 5rem;
}

.display-2 {
    font-family: 'Brygada 1918', sans-serif;
    font-size: 2.5rem;
    line-height: 1;
}

.display-2>.mbr-iconfont {
    font-size: 3.125rem;
}

.display-4 {
    font-family: 'Brygada 1918', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

.display-4>.mbr-iconfont {
    font-size: 1.5rem;
}

.display-5 {
    font-family: 'Brygada 1918', sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
}

.display-5>.mbr-iconfont {
    font-size: 2.25rem;
}

.display-7 {
    font-family: 'Brygada 1918', sans-serif;
    font-size: 1.4rem;
    line-height: 1.3;
}

.display-7>.mbr-iconfont {
    font-size: 1.75rem;
}

/* ---- Fluid typography for mobile devices ---- */

/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */

/* 100vw - current viewport width */

/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */

/* 0.65 - min scale variable, may vary */

@media (max-width: 992px) {
    .display-1 {
        font-size: 3.2rem;
    }
}

@media (max-width: 768px) {
    .display-1 {
        font-size: 2.8rem;
        font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.1 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-2 {
        font-size: 2rem;
        font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.3 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-4 {
        font-size: 0.96rem;
        font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-5 {
        font-size: 1.44rem;
        font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-7 {
        font-size: 1.12rem;
        font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
    }
}

@media (min-width: 992px) and (max-width: 1400px) {
    .display-1 {
        font-size: 2.8rem;
        font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
        line-height: calc( 1.1 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
    }
    .display-2 {
        font-size: 2rem;
        font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62)));
        line-height: calc( 1.3 * (1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62))));
    }
    .display-4 {
        font-size: 0.96rem;
        font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62)));
        line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62))));
    }
    .display-5 {
        font-size: 1.44rem;
        font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 62rem) / (87 - 62)));
        line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 62rem) / (87 - 62))));
    }
    .display-7 {
        font-size: 1.12rem;
        font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
        line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
    }
}

/* Buttons */

.btn {
    padding: 1.25rem 2rem;
    border-radius: 4px;
}

@media (max-width: 767px) {
    .btn {
        padding: 0.75rem 1.5rem;
    }
}

.btn-sm {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
}

.btn-md {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
}

.btn-lg {
    padding: 1.25rem 2rem;
    border-radius: 4px;
}

.bg-primary {
    background-color: #90be6d !important;
}

.bg-success {
    background-color: #27d182 !important;
}

.bg-info {
    background-color: #0dc6eb !important;
}

.bg-warning {
    background-color: #f8ba00 !important;
}

.bg-danger {
    background-color: #d32535 !important;
}

.btn-primary,
.btn-primary:active {
    background-color: #90be6d !important;
    border-color: #90be6d !important;
    color: #ffffff !important;
    box-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
    color: inherit;
    background-color: #abce90 !important;
    border-color: #abce90 !important;
    box-shadow: none;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #ffffff !important;
    background-color: #abce90 !important;
    border-color: #abce90 !important;
}

.btn-secondary,
.btn-secondary:active {
    background-color: #43aa8b !important;
    border-color: #43aa8b !important;
    color: #ffffff !important;
    box-shadow: none;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
    color: inherit;
    background-color: #60c0a3 !important;
    border-color: #60c0a3 !important;
    box-shadow: none;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #ffffff !important;
    background-color: #60c0a3 !important;
    border-color: #60c0a3 !important;
}

.btn-info,
.btn-info:active {
    background-color: #0dc6eb !important;
    border-color: #0dc6eb !important;
    color: #ffffff !important;
    box-shadow: none;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
    color: inherit;
    background-color: #37d4f4 !important;
    border-color: #37d4f4 !important;
    box-shadow: none;
}

.btn-info.disabled,
.btn-info:disabled {
    color: #ffffff !important;
    background-color: #37d4f4 !important;
    border-color: #37d4f4 !important;
}

.btn-success,
.btn-success:active {
    background-color: #27d182 !important;
    border-color: #27d182 !important;
    color: #ffffff !important;
    box-shadow: none;
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
    color: inherit;
    background-color: #4dde9b !important;
    border-color: #4dde9b !important;
    box-shadow: none;
}

.btn-success.disabled,
.btn-success:disabled {
    color: #ffffff !important;
    background-color: #4dde9b !important;
    border-color: #4dde9b !important;
}

.btn-warning,
.btn-warning:active {
    background-color: #f8ba00 !important;
    border-color: #f8ba00 !important;
    color: #ffffff !important;
    box-shadow: none;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
    color: inherit;
    background-color: #ffca2c !important;
    border-color: #ffca2c !important;
    box-shadow: none;
}

.btn-warning.disabled,
.btn-warning:disabled {
    color: #ffffff !important;
    background-color: #ffca2c !important;
    border-color: #ffca2c !important;
}

.btn-danger,
.btn-danger:active {
    background-color: #d32535 !important;
    border-color: #d32535 !important;
    color: #ffffff !important;
    box-shadow: none;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
    color: inherit;
    background-color: #e04b59 !important;
    border-color: #e04b59 !important;
    box-shadow: none;
}

.btn-danger.disabled,
.btn-danger:disabled {
    color: #ffffff !important;
    background-color: #e04b59 !important;
    border-color: #e04b59 !important;
}

.btn-white,
.btn-white:active {
    background-color: #eff0ec !important;
    border-color: #eff0ec !important;
    color: #757b62 !important;
    box-shadow: none;
}

.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
    color: inherit;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    box-shadow: none;
}

.btn-white.disabled,
.btn-white:disabled {
    color: #757b62 !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}

.btn-black,
.btn-black:active {
    background-color: #232323 !important;
    border-color: #232323 !important;
    color: #ffffff !important;
    box-shadow: none;
}

.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
    color: inherit;
    background-color: #3d3d3d !important;
    border-color: #3d3d3d !important;
    box-shadow: none;
}

.btn-black.disabled,
.btn-black:disabled {
    color: #ffffff !important;
    background-color: #3d3d3d !important;
    border-color: #3d3d3d !important;
}

.btn-primary-outline,
.btn-primary-outline:active {
    background-color: transparent !important;
    border-color: #90be6d;
    color: #90be6d;
}

.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
    color: #659341 !important;
    background-color: transparent !important;
    border-color: #659341 !important;
    box-shadow: none !important;
}

.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
    color: #ffffff !important;
    background-color: #90be6d !important;
    border-color: #90be6d !important;
}

.btn-secondary-outline,
.btn-secondary-outline:active {
    background-color: transparent !important;
    border-color: #43aa8b;
    color: #43aa8b;
}

.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
    color: #2a6c58 !important;
    background-color: transparent !important;
    border-color: #2a6c58 !important;
    box-shadow: none !important;
}

.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
    color: #ffffff !important;
    background-color: #43aa8b !important;
    border-color: #43aa8b !important;
}

.btn-info-outline,
.btn-info-outline:active {
    background-color: transparent !important;
    border-color: #0dc6eb;
    color: #0dc6eb;
}

.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
    color: #088199 !important;
    background-color: transparent !important;
    border-color: #088199 !important;
    box-shadow: none !important;
}

.btn-info-outline.disabled,
.btn-info-outline:disabled {
    color: #ffffff !important;
    background-color: #0dc6eb !important;
    border-color: #0dc6eb !important;
}

.btn-success-outline,
.btn-success-outline:active {
    background-color: transparent !important;
    border-color: #27d182;
    color: #27d182;
}

.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
    color: #198855 !important;
    background-color: transparent !important;
    border-color: #198855 !important;
    box-shadow: none !important;
}

.btn-success-outline.disabled,
.btn-success-outline:disabled {
    color: #ffffff !important;
    background-color: #27d182 !important;
    border-color: #27d182 !important;
}

.btn-warning-outline,
.btn-warning-outline:active {
    background-color: transparent !important;
    border-color: #f8ba00;
    color: #f8ba00;
}

.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
    color: #a17900 !important;
    background-color: transparent !important;
    border-color: #a17900 !important;
    box-shadow: none !important;
}

.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
    color: #ffffff !important;
    background-color: #f8ba00 !important;
    border-color: #f8ba00 !important;
}

.btn-danger-outline,
.btn-danger-outline:active {
    background-color: transparent !important;
    border-color: #d32535;
    color: #d32535;
}

.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
    color: #891822 !important;
    background-color: transparent !important;
    border-color: #891822 !important;
    box-shadow: none !important;
}

.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
    color: #ffffff !important;
    background-color: #d32535 !important;
    border-color: #d32535 !important;
}

.btn-black-outline,
.btn-black-outline:active {
    background-color: transparent !important;
    border-color: #232323;
    color: #232323;
}

.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
    color: #000000 !important;
    background-color: transparent !important;
    border-color: #000000 !important;
    box-shadow: none !important;
}

.btn-black-outline.disabled,
.btn-black-outline:disabled {
    color: #ffffff !important;
    background-color: #232323 !important;
    border-color: #232323 !important;
}

.btn-white-outline,
.btn-white-outline:active {
    background-color: transparent !important;
    border-color: #fafafa;
    color: #fafafa;
}

.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
    color: #cfcfcf !important;
    background-color: transparent !important;
    border-color: #cfcfcf !important;
    box-shadow: none !important;
}

.btn-white-outline.disabled,
.btn-white-outline:disabled {
    color: #7a7a7a !important;
    background-color: #fafafa !important;
    border-color: #fafafa !important;
}

.text-primary {
    color: #90be6d !important;
}

.text-secondary {
    color: #43aa8b !important;
}

.text-success {
    color: #27d182 !important;
}

.text-info {
    color: #0dc6eb !important;
}

.text-warning {
    color: #f8ba00 !important;
}

.text-danger {
    color: #d32535 !important;
}

.text-white {
    color: #fafafa !important;
}

.text-black {
    color: #232323 !important;
}

a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
    color: #5d883d !important;
}

a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
    color: #26614f !important;
}

a.text-success:hover,
a.text-success:focus,
a.text-success.active {
    color: #177b4d !important;
}

a.text-info:hover,
a.text-info:focus,
a.text-info.active {
    color: #08758a !important;
}

a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
    color: #926e00 !important;
}

a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
    color: #7c161f !important;
}

a.text-white:hover,
a.text-white:focus,
a.text-white.active {
    color: #c7c7c7 !important;
}

a.text-black:hover,
a.text-black:focus,
a.text-black.active {
    color: #000000 !important;
}

a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
    position: relative;
    background-image: transparent;
    background-size: 10000px 2px;
    background-repeat: no-repeat;
    background-position: 0px 1.2em;
    background-position: -10000px 1.2em;
}

a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
    transition: background-position 2s ease-in-out;
    background-image: linear-gradient(currentColor 50%, currentColor 50%);
    background-position: 0px 1.2em;
}

.nav-tabs .nav-link.active {
    color: #90be6d;
}

.nav-tabs .nav-link:not(.active) {
    color: #232323;
}

.alert-success {
    background-color: #70c770;
}

.alert-info {
    background-color: #0dc6eb;
}

.alert-warning {
    background-color: #f8ba00;
}

.alert-danger {
    background-color: #d32535;
}

.mbr-section-btn .btn:not(.btn-form) {
    border-radius: 100px;
}

.mbr-gallery-filter li a {
    border-radius: 100px !important;
}

.mbr-gallery-filter li.active .btn {
    background-color: #90be6d;
    border-color: #90be6d;
    color: #ffffff;
}

.mbr-gallery-filter li.active .btn:focus {
    box-shadow: none;
}

.nav-tabs .nav-link {
    border-radius: 100px !important;
}

a,
a:hover {
    color: #90be6d;
}

.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
    color: #d3e5c5;
}

.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
    color: #cef6e3;
}

.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
    color: #c8f3fc;
}

.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
    color: #fff1c5;
}

.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
    color: #f6ced1;
}

/* Scroll to top button*/

.scrollToTop_wraper {
    display: none;
}

.form-control {
    font-family: 'Brygada 1918', sans-serif;
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 400;
    border-radius: 40px !important;
}

.form-control>.mbr-iconfont {
    font-size: 1.75rem;
}

.form-control:hover,
.form-control:focus {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
    border-color: #90be6d !important;
}

.form-control:-webkit-input-placeholder {
    font-family: 'Brygada 1918', sans-serif;
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 400;
}

.form-control:-webkit-input-placeholder>.mbr-iconfont {
    font-size: 1.75rem;
}

blockquote {
    border-color: #90be6d;
}

/* Forms */

.mbr-form .input-group-btn .btn {
    border-radius: 100px !important;
}

.mbr-form .input-group-btn .btn:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}

.mbr-form .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
    padding: 1rem 3rem;
}

.mbr-form .input-group-btn button[type="submit"]:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}

.jq-selectbox li:hover,
.jq-selectbox li.selected {
    background-color: #90be6d;
    color: #ffffff;
}

.jq-number__spin {
    transition: 0.25s ease;
}

.jq-number__spin:hover {
    border-color: #90be6d;
}

.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
    transition: 0.4s;
    border-top-color: #232323;
    border-bottom-color: #232323;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
    border-top-color: #90be6d;
    border-bottom-color: #90be6d;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
    color: #000000 !important;
    background-color: #90be6d !important;
    box-shadow: none !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
    color: #000000 !important;
    background: #43aa8b !important;
    box-shadow: none !important;
}

.lazy-bg {
    background-image: none !important;
}

.lazy-placeholder:not(section),
.lazy-none {
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: auto;
}

iframe.lazy-placeholder,
.lazy-placeholder:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: transparent no-repeat center;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: url("../../../data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2390be6d' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}

section.lazy-placeholder:after {
    opacity: 0.5;
}

body {
    overflow-x: hidden;
}

a {
    transition: color 0.6s;
}

@media (max-width: 1400px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 1400px) and (min-width: 768px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 1400px) and (min-width: 768px) {
    .container-fluid {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 767px) {
    .container-fluid {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.cid-ulS3MYD2B7 {
    z-index: 1000;
    width: 100%;
    position: relative;
}

.cid-ulS3MYD2B7 .dropdown-item:before {
    font-family: Moririse2 !important;
    content: "\e966";
    display: inline-block;
    width: 0;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    margin-right: 0.5rem;
    line-height: 1;
    font-size: inherit;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    transform: scale(0, 1);
    transition: all 0.25s ease-in-out;
}

@media (max-width: 767px) {
    .cid-ulS3MYD2B7 .navbar-toggler {
        transform: scale(0.8);
    }
}

.cid-ulS3MYD2B7 .navbar-brand {
    flex-shrink: 0;
    align-items: center;
    margin-right: 0;
    padding: 10px 0;
    transition: all 0.3s;
    word-break: break-word;
    z-index: 1;
}

.cid-ulS3MYD2B7 .navbar-brand img {
    max-width: 100%;
    max-height: 100%;
}

.cid-ulS3MYD2B7 .navbar-brand .navbar-caption {
    line-height: inherit !important;
}

.cid-ulS3MYD2B7 .navbar-brand .navbar-logo a {
    outline: none;
}

.cid-ulS3MYD2B7 .navbar-nav {
    margin: auto;
    margin-left: 0;
    margin-left: auto;
}

.cid-ulS3MYD2B7 .navbar-nav .nav-item {
    padding: 0 !important;
    transition: 0.3s all !important;
}

.cid-ulS3MYD2B7 .navbar-nav .nav-item .nav-link {
    padding: 16px !important;
    margin: 0 !important;
    border-radius: 1rem !important;
    transition: 0.3s all !important;
}

.cid-ulS3MYD2B7 .navbar-nav .nav-item .nav-link:hover {
    background-color: rgba(27, 31, 10, 0.06);
}

.cid-ulS3MYD2B7 .navbar-nav .open .nav-link::after {
    transform: rotate(180deg);
}

@media (min-width: 992px) {
    .cid-ulS3MYD2B7 .navbar-nav .open .nav-link::before {
        content: "";
        width: 100%;
        height: 20px;
        top: 100%;
        background: transparent;
        position: absolute;
    }
}

.cid-ulS3MYD2B7 .navbar-nav .dropdown-item {
    padding: 12px !important;
    border-radius: 0.5rem !important;
    margin: 0 8px !important;
    transition: 0.3s all !important;
}

.cid-ulS3MYD2B7 .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
}

@media (min-width: 992px) {
    .cid-ulS3MYD2B7 .navbar-nav {
        padding-left: 1.5rem;
    }
}

.cid-ulS3MYD2B7 .nav-link {
    width: fit-content;
    position: relative;
}

.cid-ulS3MYD2B7 .navbar-logo {
    margin: 0 !important;
}

@media (max-width: 767px) {
    .cid-ulS3MYD2B7 .navbar-logo {
        padding-left: 0;
    }
}

.cid-ulS3MYD2B7 .navbar-caption {
    padding-left: 1rem;
    padding-right: 0.5rem;
}

@media (max-width: 767px) {
    .cid-ulS3MYD2B7 .nav-dropdown {
        padding-bottom: 0.5rem;
    }
}

.cid-ulS3MYD2B7 .nav-dropdown .link.dropdown-toggle::after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    transition: 0.3s all;
}

.cid-ulS3MYD2B7 .container {
    display: flex;
    height: 90px;
    padding: 0.5rem 0.6rem;
    flex-wrap: nowrap;
    background: rgba(255, 255, 255, 0.8) !important;
    left: 0;
    right: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100vw;
    margin-top: 1rem;
    background-color: #ffffff;
    box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}

@media (max-width: 992px) {
    .cid-ulS3MYD2B7 .container {
        padding-right: 2rem;
    }
}

@media (max-width: 767px) {
    .cid-ulS3MYD2B7 .container {
        width: 95%;
        height: 56px !important;
        padding-right: 1rem;
        margin-top: 0rem;
    }
}

.cid-ulS3MYD2B7 .iconfont-wrapper {
    color: #000000 !important;
    font-size: 1.5rem;
    padding-right: 0.5rem;
}

.cid-ulS3MYD2B7 .dropdown-menu {
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
    padding: 12px 4px !important;
    border-radius: 1.5rem;
    transition: 0.3s all !important;
    min-width: auto;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.8) !important;
}

.cid-ulS3MYD2B7 .nav-item:focus,
.cid-ulS3MYD2B7 .nav-link:focus {
    outline: none;
}

.cid-ulS3MYD2B7 .dropdown .dropdown-menu .dropdown-item {
    width: auto;
    transition: all 0.25s ease-in-out;
}

.cid-ulS3MYD2B7 .dropdown .dropdown-menu .dropdown-item::after {
    right: 0.5rem;
}

.cid-ulS3MYD2B7 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
    margin-right: 0.5rem;
    vertical-align: sub;
}

.cid-ulS3MYD2B7 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
    display: inline-block;
    transform: scale(1, 1);
    transition: all 0.25s ease-in-out;
}

.cid-ulS3MYD2B7 .collapsed .dropdown-menu .dropdown-item:before {
    display: none;
}

.cid-ulS3MYD2B7 .collapsed .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
}

.cid-ulS3MYD2B7 .navbar {
    min-height: 90px;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
    background: transparent !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.cid-ulS3MYD2B7 .navbar.opened {
    transition: all 0.3s;
}

.cid-ulS3MYD2B7 .navbar .dropdown-item {
    padding: 0.5rem 1.8rem;
}

.cid-ulS3MYD2B7 .navbar .navbar-logo img {
    min-width: 6rem;
    object-fit: cover;
}

.cid-ulS3MYD2B7 .navbar .navbar-collapse {
    z-index: 1;
    justify-content: flex-end;
}

.cid-ulS3MYD2B7 .navbar.collapsed {
    justify-content: center;
}

.cid-ulS3MYD2B7 .navbar.collapsed .nav-item .nav-link::before {
    display: none;
}

.cid-ulS3MYD2B7 .navbar.collapsed.opened .dropdown-menu {
    top: 0;
}

@media (min-width: 992px) {
    .cid-ulS3MYD2B7 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
        max-height: calc(98.5vh - 4.3rem);
    }
}

.cid-ulS3MYD2B7 .navbar.collapsed .dropdown-menu .dropdown-submenu {
    left: 0 !important;
}

.cid-ulS3MYD2B7 .navbar.collapsed .dropdown-menu .dropdown-item:after {
    right: auto;
}

.cid-ulS3MYD2B7 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 41%;
}

.cid-ulS3MYD2B7 .navbar.collapsed ul.navbar-nav li {
    margin: auto;
}

.cid-ulS3MYD2B7 .navbar.collapsed .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem;
    text-align: center;
}

.cid-ulS3MYD2B7 .navbar.collapsed .icons-menu {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media (max-width: 767px) {
    .cid-ulS3MYD2B7 .navbar {
        min-height: 72px;
    }
    .cid-ulS3MYD2B7 .navbar .navbar-logo img {
        height: 2.5rem !important;
        min-width: 2.5rem !important;
    }
}

@media (max-width: 991px) {
    .cid-ulS3MYD2B7 .navbar .nav-item .nav-link::before {
        display: none;
    }
    .cid-ulS3MYD2B7 .navbar.opened .dropdown-menu {
        top: 0;
    }
    .cid-ulS3MYD2B7 .navbar .dropdown-menu .dropdown-submenu {
        left: 0 !important;
    }
    .cid-ulS3MYD2B7 .navbar .dropdown-menu .dropdown-item:after {
        right: auto;
    }
    .cid-ulS3MYD2B7 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
        margin-left: 0.5rem;
        margin-top: 0.2rem;
        border-top: 0.35em solid;
        border-right: 0.35em solid transparent;
        border-left: 0.35em solid transparent;
        border-bottom: 0;
        top: 40%;
    }
    .cid-ulS3MYD2B7 .navbar .dropdown-menu .dropdown-item {
        padding: 0.25rem 1.5rem !important;
        text-align: center;
    }
    .cid-ulS3MYD2B7 .navbar .navbar-brand {
        flex-shrink: initial;
        flex-basis: auto;
        word-break: break-word;
        padding-right: 10px;
    }
    .cid-ulS3MYD2B7 .navbar .navbar-toggler {
        flex-basis: auto;
    }
    .cid-ulS3MYD2B7 .navbar .icons-menu {
        padding-left: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

.cid-ulS3MYD2B7 .navbar.navbar-short .navbar-logo img {
    height: 2rem;
}

.cid-ulS3MYD2B7 .dropdown-item.active,
.cid-ulS3MYD2B7 .dropdown-item:active {
    background-color: transparent;
}

.cid-ulS3MYD2B7 .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

.cid-ulS3MYD2B7 .nav-dropdown .link.dropdown-toggle {
    margin-right: 1.667em;
}

.cid-ulS3MYD2B7 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    margin-right: 0;
    padding: 0.667em 1.667em;
}

.cid-ulS3MYD2B7 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
    background: #ffffff;
}

.cid-ulS3MYD2B7 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
    margin: 0;
    left: 105%;
    transform: none;
    top: -12px;
}

.cid-ulS3MYD2B7 .navbar .dropdown.open>.dropdown-menu {
    display: flex;
}

.cid-ulS3MYD2B7 ul.navbar-nav {
    flex-wrap: wrap;
}

.cid-ulS3MYD2B7 .navbar-buttons {
    text-align: center;
    min-width: 140px;
}

@media (max-width: 992px) {
    .cid-ulS3MYD2B7 .navbar-buttons {
        text-align: left;
    }
}

.cid-ulS3MYD2B7 button.navbar-toggler {
    outline: none;
    width: 31px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
}

.cid-ulS3MYD2B7 button.navbar-toggler .hamburger span {
    position: absolute;
    right: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
    background-color: #000000;
}

.cid-ulS3MYD2B7 button.navbar-toggler .hamburger span:nth-child(1) {
    top: 0;
    transition: all 0.2s;
}

.cid-ulS3MYD2B7 button.navbar-toggler .hamburger span:nth-child(2) {
    top: 8px;
    transition: all 0.15s;
}

.cid-ulS3MYD2B7 button.navbar-toggler .hamburger span:nth-child(3) {
    top: 8px;
    transition: all 0.15s;
}

.cid-ulS3MYD2B7 button.navbar-toggler .hamburger span:nth-child(4) {
    top: 16px;
    transition: all 0.2s;
}

.cid-ulS3MYD2B7 nav.opened .hamburger span:nth-child(1) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
}

.cid-ulS3MYD2B7 nav.opened .hamburger span:nth-child(2) {
    transform: rotate(45deg);
    transition: all 0.25s;
}

.cid-ulS3MYD2B7 nav.opened .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    transition: all 0.25s;
}

.cid-ulS3MYD2B7 nav.opened .hamburger span:nth-child(4) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
}

.cid-ulS3MYD2B7 .navbar-dropdown {
    padding: 0 1rem;
}

.cid-ulS3MYD2B7 a.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cid-ulS3MYD2B7 .icons-menu {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    text-align: center;
}

@media (max-width: 992px) {
    .cid-ulS3MYD2B7 .icons-menu {
        justify-content: flex-start;
        margin-bottom: 0.5rem;
    }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .cid-ulS3MYD2B7 .navbar {
        height: 70px;
    }
    .cid-ulS3MYD2B7 .navbar.opened {
        height: auto;
    }
    .cid-ulS3MYD2B7 .nav-item .nav-link:hover::before {
        width: 175%;
        max-width: calc(100% + 2rem);
        left: -1rem;
    }
}

.cid-ulS3MYD2B7 .navbar .dropdown>.dropdown-menu {
    display: none;
    width: max-content;
    max-width: 500px !important;
    transform: translateX(-50%);
    top: calc(100% + 20px);
    left: 50%;
}

.cid-ulS3MYD2B7 .navbar .dropdown>.dropdown-menu .dropdown-item {
    line-height: 1 !important;
}

.cid-ulS3MYD2B7 .navbar .dropdown>.dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
}

.cid-ulS3MYD2B7 .navbar .dropdown>.dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(-90deg);
}

.cid-ulS3MYD2B7 .navbar .dropdown>.dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(0deg);
}

.cid-ulS3MYD2B7 .mbr-section-btn {
    margin: -0.6rem -0.6rem;
}

.cid-ulS3MYD2B7 .navbar-toggler {
    margin-left: 12px;
    margin-right: 8px;
    order: 1000;
}

@media (max-width: 991px) {
    .cid-ulS3MYD2B7 .navbar-brand {
        margin-right: auto;
    }
    .cid-ulS3MYD2B7 .navbar-collapse {
        z-index: -1 !important;
        position: absolute;
        top: 110%;
        left: 0;
        width: 100%;
        padding: 1rem;
        border-radius: 1.5rem;
        background: #ffffff;
        opacity: 1;
        border-color: rgba(255, 255, 255, 0.8) !important;
        background: rgba(255, 255, 255, 0.8) !important;
        backdrop-filter: blur(8px);
    }
    .cid-ulS3MYD2B7 .navbar-nav .nav-item .nav-link::after {
        margin-left: 10px;
    }
    .cid-ulS3MYD2B7 .navbar-nav .dropdown-item:hover {
        background-color: rgba(27, 31, 10, 0.06);
    }
    .cid-ulS3MYD2B7 .navbar .dropdown>.dropdown-menu {
        max-width: 100% !important;
        transform: translateX(0);
        top: 10px;
        left: 0;
        padding: 8px !important;
        border-radius: 1rem;
        background-color: rgba(27, 31, 10, 0.04) !important;
    }
    .cid-ulS3MYD2B7 .navbar .dropdown>.dropdown-menu .dropdown-item {
        padding: 8px !important;
        line-height: 1 !important;
        margin-bottom: 4px !important;
    }
    .cid-ulS3MYD2B7 .navbar .dropdown>.dropdown-menu .dropdown .dropdown-item {
        align-items: center;
        display: flex;
        height: max-content !important;
        min-height: max-content !important;
    }
    .cid-ulS3MYD2B7 .navbar .dropdown>.dropdown-menu .dropdown .dropdown-item::after {
        display: inline-block;
        position: static;
        margin-left: 0.5rem;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        transition: 0.3s all;
        transform: rotate(0deg);
    }
    .cid-ulS3MYD2B7 .navbar .dropdown>.dropdown-menu .dropdown.open .dropdown-item::after {
        transform: rotate(180deg);
    }
    .cid-ulS3MYD2B7 .navbar .dropdown>.dropdown-menu .dropdown-submenu {
        position: static;
        width: 100%;
        max-width: 100% !important;
        transform: translateX(0) !important;
        top: 0;
        left: 0;
        padding: 8px !important;
        border-radius: 1rem;
        background-color: rgba(27, 31, 10, 0.04) !important;
    }
    .cid-ulS3MYD2B7 .navbar .dropdown.open>.dropdown-menu {
        display: flex !important;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 575px) {
    .cid-ulS3MYD2B7 .navbar-collapse {
        padding: 1rem;
    }
}

.cid-ulS3MYEMo5 {
    display: flex;
    background-image: url("https://r.mobirisesite.com/632253/assets/images/photo-1593491034932-844ab981ed7c.jpeg");
}

.cid-ulS3MYEMo5 .mbr-overlay {
    background-color: #000000;
    opacity: 0.5;
}

@media (min-width: 768px) {
    .cid-ulS3MYEMo5 {
        align-items: flex-end;
    }
    .cid-ulS3MYEMo5 .row {
        justify-content: center;
    }
    .cid-ulS3MYEMo5 .content-wrap {
        padding: 1rem 3rem;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .cid-ulS3MYEMo5 .content-wrap {
        min-width: 50%;
    }
}

@media (max-width: 767px) {
    .cid-ulS3MYEMo5 {
        -webkit-align-items: center;
        align-items: flex-end;
    }
    .cid-ulS3MYEMo5 .mbr-row {
        -webkit-justify-content: center;
        justify-content: center;
    }
    .cid-ulS3MYEMo5 .content-wrap {
        width: 100%;
    }
}

.cid-ulS3MYEMo5 .mbr-section-title,
.cid-ulS3MYEMo5 .mbr-section-subtitle {
    text-align: center;
}

.cid-ulS3MYEMo5 .mbr-text,
.cid-ulS3MYEMo5 .mbr-section-btn {
    text-align: center;
}

.cid-ulSnw2wBkP {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-image: url("https://r.mobirisesite.com/632253/assets/images/background1.jpg?rnd=1724052477442");
}

.cid-ulSnw2wBkP .item-wrapper img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50% !important;
}

.cid-ulSnw2wBkP .mbr-fallback-image.disabled {
    display: none;
}

.cid-ulSnw2wBkP .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-ulSnw2wBkP .item-wrapper {
    background: #ffffff;
    padding: 2.25rem;
    height: 100%;
}

@media (max-width: 767px) {
    .cid-ulSnw2wBkP .item-wrapper {
        padding: 1.5rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .cid-ulSnw2wBkP .item-wrapper {
        padding: 2rem 1.5rem;
        margin-bottom: 1rem;
    }
}

.cid-ulSnw2wBkP .card-title,
.cid-ulSnw2wBkP .iconfont-wrapper {
    color: #000000;
}

.cid-ulSnw2wBkP .content-head {
    max-width: 800px;
}

.cid-ulSnw2wBkP .mbr-section-title {
    color: #000000;
}

.cid-ulSnw2wBkP .mbr-section-subtitle {
    color: #000000;
}

.cid-ulSnw2wBkP .card-text {
    color: #000000;
}

.cid-ulSnw2wBkP .item-mb {
    margin-bottom: 2rem;
}

@media (max-width: 767px) {
    .cid-ulSnw2wBkP .item-mb {
        margin-bottom: 1rem;
    }
}

.cid-ulS3MYFNKB {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
}

.cid-ulS3MYFNKB .mbr-text {
    color: #000000;
}

.cid-ulS3MYFNKB .mbr-section-subtitle {
    color: #000000;
}

.cid-ulSgNSLWDk {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #edefeb;
}

.cid-ulSgNSLWDk img,
.cid-ulSgNSLWDk .item-img {
    width: 100%;
}

.cid-ulSgNSLWDk .item:focus,
.cid-ulSgNSLWDk span:focus {
    outline: none;
}

.cid-ulSgNSLWDk .item-wrapper {
    position: relative;
}

.cid-ulSgNSLWDk .slide-content {
    position: relative;
    border-radius: 4px;
    background: #ffffff;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-flow: column nowrap;
}

.cid-ulSgNSLWDk .slide-content .item-content {
    padding: 2.25rem 2.25rem 0;
}

.cid-ulSgNSLWDk .slide-content .item-footer {
    padding: 0 2.25rem 2.25rem;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .cid-ulSgNSLWDk .slide-content .item-content {
        padding: 2rem 1.5rem 0;
    }
    .cid-ulSgNSLWDk .slide-content .item-footer {
        padding: 0 1.5rem 1.5rem;
    }
}

@media (max-width: 767px) {
    .cid-ulSgNSLWDk .slide-content .item-content {
        padding: 1.5rem 1.5rem 0;
    }
    .cid-ulSgNSLWDk .slide-content .item-footer {
        padding: 0 1.5rem 1.5rem;
    }
}

.cid-ulSgNSLWDk .mbr-section-btn {
    margin-top: auto !important;
}

.cid-ulSgNSLWDk .mbr-section-title {
    color: #232323;
}

.cid-ulSgNSLWDk .mbr-text,
.cid-ulSgNSLWDk .mbr-section-btn {
    text-align: left;
}

.cid-ulSgNSLWDk .item-title {
    text-align: left;
}

.cid-ulSgNSLWDk .item-subtitle {
    text-align: left;
    color: #bbbbbb;
}

.cid-ulSgNSLWDk .embla__slide {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 370px;
    max-width: 370px;
}

@media (max-width: 768px) {
    .cid-ulSgNSLWDk .embla__slide {
        min-width: 85%;
        max-width: initial;
    }
}

.cid-ulSgNSLWDk .embla__button--next,
.cid-ulSgNSLWDk .embla__button--prev {
    display: flex;
}

.cid-ulSgNSLWDk .embla__button {
    top: 50%;
    width: 60px;
    height: 60px;
    margin-top: -1.5rem;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all 0.3s;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .cid-ulSgNSLWDk .embla__button {
        display: none;
    }
}

.cid-ulSgNSLWDk .embla__button:disabled {
    cursor: default;
    display: none;
}

.cid-ulSgNSLWDk .embla__button:hover {
    background: #000;
    color: rgba(255, 255, 255, 0.5);
}

.cid-ulSgNSLWDk .embla__button.embla__button--prev {
    left: 0;
    margin-left: 2.5rem;
}

.cid-ulSgNSLWDk .embla__button.embla__button--next {
    right: 0;
    margin-right: 2.5rem;
}

@media (max-width: 767px) {
    .cid-ulSgNSLWDk .embla__button {
        top: auto;
    }
}

.cid-ulSgNSLWDk .embla {
    position: relative;
    width: 100%;
}

.cid-ulSgNSLWDk .embla__viewport {
    overflow: hidden;
    width: 100%;
}

.cid-ulSgNSLWDk .embla__viewport.is-draggable {
    cursor: grab;
}

.cid-ulSgNSLWDk .embla__viewport.is-dragging {
    cursor: grabbing;
}

.cid-ulSgNSLWDk .embla__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 768px) {
    .cid-ulSgNSLWDk .embla__container .embla__slide:first-child {
        margin-left: 2rem !important;
    }
    .cid-ulSgNSLWDk .embla__container .embla__slide:last-child {
        margin-right: 2rem !important;
    }
}

.cid-ulSgNSLWDk .content-head {
    max-width: 800px;
}

.cid-ulS3MYI8t1 {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
}

.cid-ulS3MYI8t1 .item:focus,
.cid-ulS3MYI8t1 span:focus {
    outline: none;
}

.cid-ulS3MYI8t1 .item {
    cursor: pointer;
}

.cid-ulS3MYI8t1 .grid-container {
    grid-row-gap: 2rem;
}

@media (max-width: 767px) {
    .cid-ulS3MYI8t1 .grid-container {
        grid-row-gap: 1rem;
    }
}

.cid-ulS3MYI8t1 .grid-container-1,
.cid-ulS3MYI8t1 .grid-container-2,
.cid-ulS3MYI8t1 .grid-container-3 {
    gap: 0 2rem;
}

@media (max-width: 767px) {
    .cid-ulS3MYI8t1 .grid-container-1,
    .cid-ulS3MYI8t1 .grid-container-2,
    .cid-ulS3MYI8t1 .grid-container-3 {
        gap: 0 1rem;
    }
}

.cid-ulS3MYI8t1 .mbr-section-title {
    color: #000000;
}

.cid-ulS3MYI8t1 .mbr-text,
.cid-ulS3MYI8t1 .mbr-section-btn {
    color: #000000;
}

.cid-ulS3MYI8t1 .content-head {
    max-width: 800px;
}

.cid-ulS3MYI8t1 .container,
.cid-ulS3MYI8t1 .container-fluid {
    overflow: hidden;
}

.cid-ulS3MYI8t1 .grid-container {
    display: grid;
    transform: translate3d(-3rem, 0, 0);
    width: 115vw;
    grid-column-gap: 1rem;
}

.cid-ulS3MYI8t1 .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cid-ulS3MYI8t1 .grid-item img {
    min-width: 30vw;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

@media (max-width: 767px) {
    .cid-ulS3MYI8t1 .grid-item img {
        min-width: 35vw;
    }
}

.cid-ulS3MYI8t1 .grid-container-1,
.cid-ulS3MYI8t1 .grid-container-2,
.cid-ulS3MYI8t1 .grid-container-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

.cid-ulS3MYI8t1 .grid-container-1 {
    align-items: flex-end;
}

.cid-ulS3MYI8t1 .grid-container-2 {
    align-items: flex-start;
}

.cid-ulS3MYGpMh {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: transparent;
}

.cid-ulS3MYGpMh .mbr-iconfont {
    font-size: 1.2rem !important;
    font-family: 'Moririse2' !important;
    color: white;
    transition: all 0.3s;
    transform: rotate(180deg);
    padding-left: 0.5rem;
}

.cid-ulS3MYGpMh .panel-group {
    border: none;
}

.cid-ulS3MYGpMh .card-header {
    padding: 0rem;
}

@media (max-width: 767px) {
    .cid-ulS3MYGpMh .card-header {
        padding: 0rem;
    }
}

.cid-ulS3MYGpMh .panel-body {
    padding: 0rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
}

.cid-ulS3MYGpMh .img-col {
    padding: 0;
}

.cid-ulS3MYGpMh .img-item {
    height: 100%;
}

.cid-ulS3MYGpMh img {
    height: 100%;
    object-fit: cover;
}

.cid-ulS3MYGpMh .collapsed span {
    transform: rotate(0deg);
}

.cid-ulS3MYGpMh .panel-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cid-ulS3MYGpMh p {
    margin-bottom: 0.3rem;
}

.cid-ulS3MYGpMh .panel-title-edit {
    color: #000000;
}

.cid-ulS3MYGpMh .card .card-header {
    background-color: transparent;
    margin-bottom: 0;
    border: 0;
    border-radius: 2rem;
}

.cid-ulS3MYGpMh .card {
    background: #ffffff;
    padding: 2.25rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

@media (max-width: 767px) {
    .cid-ulS3MYGpMh .card {
        padding: 2rem 1.5rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .cid-ulS3MYGpMh .card {
        margin-bottom: 1rem;
        padding: 2rem 1.5rem;
    }
}

.cid-ulS3MYGpMh .panel-text {
    color: #000000;
}

.cid-ulS3MYGpMh .mbr-section-title {
    text-align: center;
    color: #000000;
}

.cid-ulS3MYGpMh .mbr-section-subtitle {
    color: #000000;
    text-align: center;
}

.cid-ulS3MYGpMh .panel-title-edit,
.cid-ulS3MYGpMh .mbr-iconfont {
    color: #000000;
}

.cid-ulS3MYIxvZ {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
}

.cid-ulS3MYIxvZ .mbr-fallback-image.disabled {
    display: none;
}

.cid-ulS3MYIxvZ .item-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cid-ulS3MYIxvZ .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-ulS3MYIxvZ .mbr-iconfont {
    display: inline-flex;
    font-size: 2rem;
    color: #d70081;
    width: 80px;
    justify-content: center;
    align-items: center;
    background: #ffd7ef;
    height: 80px;
    border-radius: 50%;
}

.cid-ulS3MYIxvZ .card-title,
.cid-ulS3MYIxvZ .iconfont-wrapper,
.cid-ulS3MYIxvZ .card-text {
    color: #000000;
    text-align: center;
}

.cid-ulS3MYIxvZ .content-head {
    max-width: 800px;
}

.cid-ulS3MYIxvZ .mbr-section-title {
    color: #000000;
}

.cid-ulS3MYIxvZ .mbr-section-btn {
    text-align: center;
}

.cid-ulS3MYIxvZ .card-title,
.cid-ulS3MYIxvZ .iconfont-wrapper {
    color: #90BE6D;
}

.cid-ulS3MYIKrj {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
}

.cid-ulS3MYIKrj .item:focus,
.cid-ulS3MYIKrj span:focus {
    outline: none;
}

.cid-ulS3MYIKrj .container-fluid {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.cid-ulS3MYIKrj .content-head {
    max-width: 800px;
}

.cid-ulS3MYIKrj .item {
    color: #232323;
    min-height: 90px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .cid-ulS3MYIKrj .item {
        min-height: 45px;
    }
}

.cid-ulS3MYI4ku .mbr-fallback-image.disabled {
    display: none;
}

.cid-ulS3MYI4ku .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url("https://r.mobirisesite.com/632253/assets/images/background1.jpg?rnd=1724052477442");
}

.cid-ulS3MYGFa3 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #f94144;
}

.cid-ulS3MYGFa3 input {
    padding: 1.2rem 1.5rem;
    border: none !important;
    height: 100%;
}

.cid-ulS3MYGFa3 input:hover {
    border: none !important;
}

.cid-ulS3MYGFa3 .btn {
    height: 100%;
    margin: auto;
}

@media (min-width: 992px) {
    .cid-ulS3MYGFa3 .text-wrapper {
        padding: 0 2rem;
    }
}

.cid-ulS3MYGFa3 .row {
    justify-content: center;
}

.cid-ulS3MYGFa3 .mbr-section-btn {
    display: flex;
    margin-bottom: 1.2rem;
    width: fit-content;
}

@media (min-width: 768px) {
    .cid-ulS3MYGFa3 .mbr-section-btn {
        margin-left: initial;
    }
}

.cid-ulS3MYGFa3 .mbr-section-btn .btn {
    width: auto;
}

@media (max-width: 991px) {
    .cid-ulS3MYGFa3 .image-wrapper {
        margin-bottom: 2rem;
    }
    .cid-ulS3MYGFa3 .content-wrapper {
        flex-direction: column-reverse;
    }
}

.cid-ulS3MYGFa3 .justify-content-center {
    align-items: center;
}

.cid-ulS3MYGFa3 .mbr-section-title {
    text-align: center;
    color: #FFFFFF;
}

.cid-ulS5rXxp1q {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #ffffff;
}

.cid-ulS5rXxp1q .mbr-fallback-image.disabled {
    display: none;
}

.cid-ulS5rXxp1q .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-ulS5rXxp1q .item-wrapper {
    display: flex;
    margin-bottom: 2rem;
    border-radius: 0 !important;
}

@media (max-width: 767px) {
    .cid-ulS5rXxp1q .item-wrapper {
        margin-bottom: 1rem;
    }
}

.cid-ulS5rXxp1q .mbr-iconfont {
    font-size: 3rem;
    color: #2e481a;
    padding-right: 2rem;
}

.cid-ulS5rXxp1q .content-head {
    max-width: 800px;
}

.cid-ulS4NOCTya {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #edefeb;
}

.cid-ulS4NOCTya .row {
    flex-direction: row-reverse;
}

.cid-ulS4NOCTya .justify-content-center {
    align-items: center;
}

.cid-ulS4NOCTya .mbr-section-title {
    text-align: center;
}

.cid-ulS4NOCTya .mbr-text,
.cid-ulS4NOCTya .mbr-section-btn {
    text-align: center;
}

@media (max-width: 767px) {
    .cid-ulS4NOCTya .item-wrapper {
        margin-bottom: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .cid-ulS4NOCTya .item-wrapper {
        margin-bottom: 2rem;
    }
}

@media (min-width: 992px) {
    .cid-ulS4NOCTya .item-wrapper {
        padding: 4rem;
    }
}

.cid-ulS5NQcSh1 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #edefeb;
}

.cid-ulS5NQcSh1 .mbr-fallback-image.disabled {
    display: none;
}

.cid-ulS5NQcSh1 .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

@media (max-width: 992px) {
    .cid-ulS5NQcSh1 .row .map-wrapper {
        margin-top: 2rem;
    }
}

@media (max-width: 767px) {
    .cid-ulS5NQcSh1 .row .map-wrapper {
        margin-top: 1rem;
    }
}

.cid-ulS5NQcSh1 .google-map {
    height: 100%;
    position: relative;
}

.cid-ulS5NQcSh1 .google-map iframe {
    height: 100%;
    width: 100%;
}

@media (max-width: 992px) {
    .cid-ulS5NQcSh1 .google-map iframe {
        min-height: 350px;
    }
}

.cid-ulS5NQcSh1 .google-map [data-state-details] {
    color: #6b6763;
    height: 1.5em;
    margin-top: -0.75em;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.cid-ulS5NQcSh1 .google-map[data-state] {
    background: #e9e5dc;
}

.cid-ulS5NQcSh1 .google-map[data-state="loading"] [data-state-details] {
    display: none;
}

.cid-ulS5NQcSh1 .card-wrapper {
    padding: 2.25rem;
    background: #ffffff;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .cid-ulS5NQcSh1 .card-wrapper {
        padding: 1.5rem;
    }
}

@media (max-width: 767px) {
    .cid-ulS5NQcSh1 .card-wrapper {
        padding: 2rem 1.5rem;
    }
}

.cid-ulS5NQcSh1 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cid-ulS5NQcSh1 .content-head {
    max-width: 800px;
}

.cid-ulS5NQcSh1 .list,
.cid-ulS5NQcSh1 .item-wrap {
    color: #000000;
}

.cid-ulS3MYJvMs {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #000000;
}

.cid-ulS3MYJvMs .social-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cid-ulS3MYJvMs .social-row .soc-item {
    margin: 8px;
}

.cid-ulS3MYJvMs .social-row .soc-item a:hover .mbr-iconfont,
.cid-ulS3MYJvMs .social-row .soc-item a:focus .mbr-iconfont {
    background-color: #ffffff;
}

.cid-ulS3MYJvMs .social-row .soc-item a .mbr-iconfont {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 32px;
    background-color: #edefeb;
    color: #000000;
    transition: all 0.3s ease-in-out;
}

.cid-ulS3MYJvMs .row-links {
    width: 100%;
    justify-content: center;
}

.cid-ulS3MYJvMs .header-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
}

.cid-ulS3MYJvMs .header-menu li {
    padding: 0 1rem 1rem 1rem;
}

.cid-ulS3MYJvMs .header-menu li p {
    margin: 0;
}

.cid-ulS3MYJvMs .copyright {
    margin-bottom: 0;
    color: #ffffff;
    text-align: center;
}

.cid-ulS3MYJvMs .mbr-section-title {
    color: #ffffff;
}