.header16{
    background-image: url('../images/homepage-background.jpeg');
    /* background-image: url('../images/hompage-background.jpeg'); */
    /* opacity: 0.9; */
}

/* Default state (collapsed) */
.mobi-mbri-arrow-down::before {
    content: '\25BC'; /* Unicode for down arrow */
}

/* Expanded state */
.panel-title[aria-expanded="true"] .mobi-mbri-arrow-down::before {
    content: '\25B2'; /* Unicode for up arrow */
}


/* Follow Us start */
 /* Add space between icon and text */
 .item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
}

.item-wrapper span {
    margin-bottom: 0.5rem; /* Adjust spacing between icon and text */
}

.card-title {
    font-family: 'Roboto', sans-serif; /* Apply unique font */
    font-weight: 700; /* Make text bold */
}

.card-text {
    font-family: 'Roboto', sans-serif; /* Apply unique font */
    font-weight: 400; /* Regular text */
}

/* Ensure icons are centered */
.item-wrapper span {
    display: block;
}
/* Follow Us end */

.navbar-fixed-top {
    top: auto;
}

#mobiriseBanner.container-banner {
    height: 8rem;
    opacity: 1;
    -webkit-animation: 4s linear animationHeight;
    -moz-animation: 4s linear animationHeight;
    -o-animation: 4s linear animationHeight;
    animation: 4s linear animationHeight;
    transition: all 0.5s;
}

#mobiriseBanner.container-banner.container-banner-closing {
    pointer-events: none;
    height: 0;
    opacity: 0;
    -webkit-animation: 0.5s linear animationClosing;
    -moz-animation: 0.5s linear animationClosing;
    -o-animation: 0.5s linear animationClosing;
    animation: 0.5s linear animationClosing;
}

#mobiriseBanner .banner {
    min-height: 8rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 10px;
    opacity: 1;
    -webkit-animation: 4s linear animationBanner;
    -moz-animation: 4s linear animationBanner;
    -o-animation: 4s linear animationBanner;
    animation: 4s linear animationBanner;
    z-index: 1031;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mobiriseBanner .banner p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    animation: none;
    visibility: visible;
}

#mobiriseBanner .buy-license {
    text-decoration: underline;
}

#mobiriseBanner .banner .btn {
    margin: 0.3rem 0.5rem;
    animation: none;
    visibility: visible;
}

.navbar.opened {
    z-index: 1032;
}

@-webkit-keyframes animationBanner {
    0% {
        opacity: 0;
        top: -8rem;
    }
    75% {
        opacity: 0;
        top: -8rem;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@-moz-keyframes animationBanner {
    0% {
        opacity: 0;
        top: -8rem;
    }
    75% {
        opacity: 0;
        top: -8rem;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@-o-keyframes animationBanner {
    0% {
        opacity: 0;
        top: -8rem;
    }
    75% {
        opacity: 0;
        top: -8rem;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes animationBanner {
    0% {
        opacity: 0;
        top: -8rem;
    }
    75% {
        opacity: 0;
        top: -8rem;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@-webkit-keyframes animationHeight {
    0% {
        height: 0;
    }
    75% {
        height: 0;
    }
    100% {
        height: 8rem;
    }
}

@-moz-keyframes animationHeight {
    0% {
        height: 0;
    }
    75% {
        height: 0;
    }
    100% {
        height: 8rem;
    }
}

@-o-keyframes animationHeight {
    0% {
        height: 0;
    }
    75% {
        height: 0;
    }
    100% {
        height: 8rem;
    }
}

@keyframes animationHeight {
    0% {
        height: 0;
    }
    75% {
        height: 0;
    }
    100% {
        height: 8rem;
    }
}

@-webkit-keyframes animationClosing {
    0% {
        height: 8rem;
        opacity: 1;
    }
    30% {
        height: 8rem;
        opacity: 0.5;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

@-moz-keyframes animationClosing {
    0% {
        height: 8rem;
        opacity: 1;
    }
    30% {
        height: 8rem;
        opacity: 0.5;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

@-o-keyframes animationClosing {
    0% {
        height: 8rem;
        opacity: 1;
    }
    30% {
        height: 8rem;
        opacity: 0.5;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

@keyframes animationClosing {
    0% {
        height: 8rem;
        opacity: 1;
    }
    30% {
        height: 8rem;
        opacity: 0.5;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

@media(max-width: 767px) {
    #mobiriseBanner.container-banner {
        height: 12rem;
    }
    #mobiriseBanner .banner {
        min-height: 12rem;
    }
    @-webkit-keyframes animationBanner {
        0% {
            opacity: 0;
            top: -12rem;
        }
        75% {
            opacity: 0;
            top: -12rem;
        }
        100% {
            opacity: 1;
            top: 0;
        }
    }
    @-moz-keyframes animationBanner {
        0% {
            opacity: 0;
            top: -12rem;
        }
        75% {
            opacity: 0;
            top: -12rem;
        }
        100% {
            opacity: 1;
            top: 0;
        }
    }
    @-o-keyframes animationBanner {
        0% {
            opacity: 0;
            top: -12rem;
        }
        75% {
            opacity: 0;
            top: -12rem;
        }
        100% {
            opacity: 1;
            top: 0;
        }
    }
    @keyframes animationBanner {
        0% {
            opacity: 0;
            top: -12rem;
        }
        75% {
            opacity: 0;
            top: -12rem;
        }
        100% {
            opacity: 1;
            top: 0;
        }
    }
    @-webkit-keyframes animationHeight {
        0% {
            height: 0;
        }
        75% {
            height: 0;
        }
        100% {
            height: 12rem;
        }
    }
    @-moz-keyframes animationHeight {
        0% {
            height: 0;
        }
        75% {
            height: 0;
        }
        100% {
            height: 12rem;
        }
    }
    @-o-keyframes animationHeight {
        0% {
            height: 0;
        }
        75% {
            height: 0;
        }
        100% {
            height: 12rem;
        }
    }
    @keyframes animationHeight {
        0% {
            height: 0;
        }
        75% {
            height: 0;
        }
        100% {
            height: 12rem;
        }
    }
    @-webkit-keyframes animationClosing {
        0% {
            height: 12rem;
            opacity: 1;
        }
        30% {
            height: 12rem;
            opacity: 0.5;
        }
        100% {
            height: 0;
            opacity: 0;
        }
    }
    @-moz-keyframes animationClosing {
        0% {
            height: 12rem;
            opacity: 1;
        }
        30% {
            height: 12rem;
            opacity: 0.5;
        }
        100% {
            height: 0;
            opacity: 0;
        }
    }
    @-o-keyframes animationClosing {
        0% {
            height: 12rem;
            opacity: 1;
        }
        30% {
            height: 12rem;
            opacity: 0.5;
        }
        100% {
            height: 0;
            opacity: 0;
        }
    }
    @keyframes animationClosing {
        0% {
            height: 12rem;
            opacity: 1;
        }
        30% {
            height: 12rem;
            opacity: 0.5;
        }
        100% {
            height: 0;
            opacity: 0;
        }
    }
}


