<!-- {% extends "base.html" %}
{% block content %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <center>
        <div class="ring">
            <i style="--clr:#00ff0a;"></i>
            <i style="--clr:#ff0057;"></i>
            <i style="--clr:#fffd44;"></i>
            <div class="login">
                <h2>Login</h2>
                <form method="post">
                    <div class="inputBx">
                        <input type="text" name="username" placeholder="Username" required>
                    </div>
                    <div class="inputBx">
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="Sign in">
                    </div>
                    <div class="links">
                        <a href="#">Forget Password</a>
                        <a href="#">Signup</a>
                    </div>
                </form>
            </div>
        </div>
    </center>
</body>
</html>
<!-- {% endblock %} -->
